@import "~materialize-css/dist/css/materialize.min.css";

.yellow-input {
  border-bottom: 1px solid white !important;
}

.yellow-input + label {
  color: white !important;
}

.yellow-input:focus {
  border-bottom: 1px solid lightyellow !important;
}

.yellow-input + label:focus {
  color: lightyellow !important;
}